<!--<h1>신이 너를 만들때..</h1>
<!--<p><%= @apple %></p>-->
<!--<%= %>를 하면 컨트롤러에 있는 값 가져오기 -->
<!-- controller에 저장해둔 변수를 사용하셔서 먼저 간단히 출력해보시기 바랍니다. 배열에서 원하는 값을 출력할 때는 어떻게 출력해야 할까요? 저번 스터디에서 배우셨던 내용을 토대로 수행해주시기 바랍니다. 강의안은 드라이브에 올라와 있으니 스스로 진행해주기 바래요-->

<link rel="stylesheet" type="text/css" href="application.css"> 
<script src="application.js"></script>

<center>
    <img src="assets\marry.png" />
    <h1>당신의 미래 배우자는..?</h1>
    <form method="post" class="example-form">
            <input type="text" id="name" class="text-xl"  placeholder="이름">
            <a href="result" class="btn btn-primary btn-xl">시작하기</a>
    
    </form>
</center>