/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.btn-primary {
  color: white;
  background-color: #F5C7CD;
  border-color: #F5C7CD; }
.btn-primary:focus, .btn-primary.focus {
  color: white;
  background-color: #A8444;
  border-color: #A8444; }
.btn-primary:hover {
  color: white;
  background-color: #A8444D;
  border-color: #A8444D; }
.btn-primary:active, .btn-primary.active,
  
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase; }

.btn-xl {
  padding: 10px 20px;}
  
.text-xl {
  padding: 5px 15px; }
  
a:link {text-decoration: none;}